---
 layout: custom_default
---

<div class="row">
<div class="column left">
  <h1 class="content-listing-header sans top_border">{{ page.my_name }}</h1>
  <p class="extra_space">
    I am an Assistant Professor in the Department of Economics at LMU Munich.
  </p> 
  <p class = "extra_space">
    In my research, I use applied theory and experiments to study questions in behavioral economics.
    You can find my CV <a target="_blank" rel="noopener noreferrer" href=/assets/pdf/FriesCV.pdf>here.</a> 
  </p>
  <p class="extra_space"><a href=mailto:{{ page.email }}>{{ page.email }}</a>
  </p>
  <br>
  <p>
    <img src="{{site.baseurl}}/assets/img/profile_pic.jpg" alt="CH">
  </p>


 </div>
 
 <div class="column right bottom_border">
   <br style=“line-height:150px;”><br>
   <h1 class="content-listing-sub-header sans bottom_border"> Research Papers </h1>
     {% for item in page.projects %}
     <p class="extra_space">
     {% if item.link != "none" %}
      <u><a class="alt" target="_blank" rel="noopener noreferrer" href={{ item.link }}>{{ item.name }}</a></u>
     {% endif %}
     {% if item.link == "none" %}
      <u>{{ item.name }}</u>
     {% endif %}
     {% if item.collab != "none" %}
     with {{ item.collab}}{% if item.journal != "none" %},{% endif %}
     {% endif %}
     {% if item.journal != "none" %}
      <i><b>{{ item.journal }}{% if item.issue != "none" %},{% endif %}</b></i>
     {% endif %}
     {% if item.issue != "none" %}
      <i>{{ item.issue }}</i>
     {% endif %}
    {% if item.pdf != "none" %}
    &nbsp;[<a target="_blank" rel="noopener noreferrer" href=/assets/pdf/{{ item.pdf }}>latest version</a>]
    {% endif %}
    {% if item.instructions != "none" %}
    &nbsp;[<a target="_blank" rel="noopener noreferrer" href=/assets/pdf/{{ item.instructions }}>instructions</a>]
    {% endif %}
    {% if item.preregistration != "none" %}
    &nbsp;[<a target="_blank" rel="noopener noreferrer" href=/assets/pdf/{{ item.preregistration }}>preregistration</a>]
    {% endif %}
    {% if item.abstract != "none" %}
    &nbsp;
    <details>
    <summary> (<span class="abstract">Abstract</span>) </summary>
    {{ item.abstract }}
    </details>
    {% endif %}


    {% endfor %}


    <h1 class="content-listing-sub-header sans bottom_border"> In Progress </h1>
       {% for item in page.in_progress %}
       <p class="extra_space">
       {% if item.link != "none" %}
        <u><a class="alt" target="_blank" rel="noopener noreferrer" href={{ item.link }}>{{ item.name }}</a></u>
       {% endif %}
       {% if item.link == "none" %}
        <u>{{ item.name }}</u>
       {% endif %}
       {% if item.collab != "none" %}
       with {{ item.collab}}{% if item.journal != "none" %},{% endif %}
       {% endif %}
       {% if item.journal != "none" %}
        <i><b>{{ item.journal }}{% if item.issue != "none" %},{% endif %}</b></i>
       {% endif %}
       {% if item.issue != "none" %}
        <i>{{ item.issue }}</i>
       {% endif %}
      {% if item.pdf != "none" %}
      &nbsp;[{{ item.pdf }}]
      {% endif %}
      {% if item.abstract != "none" %}
      &nbsp;
      <details>
      <summary> (<span class="abstract">Abstract</span>) </summary>
      {{ item.abstract }}
      </details>
      {% endif %}


      {% endfor %}
 </div>
</div>
